.notReservedList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 100px auto;
}

.notReservedList p {
  line-height: 18px;
  color: rgb(136, 136, 136);
  margin: 0;
}

/*  */

.reservedWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservedList {
  position: relative;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 590px;
}

.reservedList:nth-child(1),
.reservedList:nth-child(2) {
  margin-top: 30px;
}

.reservedProductWrap {
  display: flex;
  align-items: center;
}

.reservedProductImage {
  position: relative;
  width: 140px;
  height: 140px;
  margin-left: 5px;
}

.reservedProductImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.reservedProductInfo {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-left: 20px;
}

.productCategory {
  margin: 0;
  font-size: 12px;
  color: #767676;
}

.reservedProductRemove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.productName {
  margin: 15px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 1rem;
}

.productPrice {
  margin-top: 20px;
}

.reservedProductPurchase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 40px;
  height: 100%;
}

.btnSubmit,
.receiptbtn {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
}

.completeApprove {
  pointer-events: none;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  background: #333333;
}

.propagateLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 100px auto;
}

.oval {
  margin: 0 auto;
}

.confirmButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

@media screen and (max-width: 1200px) {
  .reservedList {
    width: 440px;
    height: 200px;
    align-items: flex-start;
  }

  .reservedProductWrap {
    margin-top: 5px;
  }

  .reservedProductInfo {
    width: 220px;
  }

  .reservedProductPurchase {
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    top: 155px;
    right: 0;
  }

  .btnSubmit,
  .receiptbtn {
    width: 205px;
  }

  .completeApprove {
    width: 205px;
  }
}

@media screen and (max-width: 900px) {
  .reservedList {
    width: 350px;
    height: 175px;
  }

  .reservedProductInfo {
    width: 150px;
  }

  .reservedProductImage {
    width: 125px;
    height: 125px;
  }

  .productName {
    margin-top: 10px;
  }

  .reservedProductPurchase {
    top: 135px;
  }

  .btnSubmit,
  .receiptbtn {
    width: 165px;
  }

  .completeApprove {
    width: 165px;
  }
}

@media screen and (max-width: 600px) {
  .reservedList,
  .reservedList:nth-child(1),
  .reservedList:nth-child(2) {
    margin-top: 15px;
    width: 100%;
  }

  .reservedList {
    width: 100%;
    flex-direction: column;
  }

  .reservedProductInfo {
    margin-left: 10px;
  }

  .reservedProductInfo {
    width: 255px;
  }

  /* .productName {
    border: none;
  } */

  .btnSubmit,
  .receiptbtn {
    width: 45%;
  }

  .completeApprove {
    width: 45%;
  }
}
