.notSaleList,
.notConnectWallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 100px auto;
}

.notSaleList p,
.notConnectWallet p {
  line-height: 18px;
  color: rgb(136, 136, 136);
  margin: 0;
}

.saleList {
  position: relative;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 590px;
}

.saleList:nth-child(1),
.saleList:nth-child(2) {
  margin-top: 30px;
}

.saleProductWrap {
  display: flex;
  align-items: center;
}

.saleProductImage {
  position: relative;
  width: 140px;
  height: 140px;
  margin-left: 5px;
}

.saleProductImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.saleProductInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  margin-left: 20px;
}

.productCategory {
  margin: 0;
  font-size: 12px;
  color: #767676;
}

.saleProductRemove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.onSaleButton {
  position: absolute;
  right: 40px;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  pointer-events: none;
}

.IssuanceButton {
  position: absolute;
  right: 40px;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  background: #fe4e62;
}

.issuanceCompleted {
  position: absolute;
  right: 40px;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  background: #333333;
  pointer-events: none;
}

.receiveButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

/*  */

.productName {
  margin: 15px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 1rem;
  color: black;
}

.productPrice {
  margin-top: 20px;
  color: black;
}

.reserved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.reserved h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 44%;
}

@media screen and (max-width: 1200px) {
  .saleList {
    width: 440px;
    height: 200px;
    align-items: flex-start;
  }

  .saleProductWrap {
    margin-top: 5px;
  }

  .saleProductInfo {
    width: 220px;
  }

  .onSaleButton {
    top: 155px;
    right: 7.5px;
    width: 97%;
  }

  .IssuanceButton {
    top: 155px;
    right: 7.5px;
    width: 97%;
  }

  .issuanceCompleted {
    top: 155px;
    right: 7.5px;
    width: 97%;
  }
}

@media screen and (max-width: 900px) {
  .saleList {
    width: 350px;
    height: 175px;
  }

  .saleProductInfo {
    width: 150px;
  }

  .saleProductImage {
    width: 125px;
    height: 125px;
  }

  .productName {
    margin-top: 10px;
  }

  .onSaleButton {
    top: 135px;
    width: 96%;
  }

  .IssuanceButton {
    top: 135px;
    width: 96%;
  }

  .issuanceCompleted {
    top: 135px;
    width: 96%;
  }
}

@media screen and (max-width: 600px) {
  .saleList,
  .saleList:nth-child(1),
  .saleList:nth-child(2) {
    margin-top: 15px;
    width: 100%;
  }

  .saleList {
    width: 100%;
  }

  .saleProductInfo {
    margin-left: 10px;
    width: 255px;
  }

  .IssuanceButton {
    width: 97%;
  }

  .issuanceCompleted {
    width: 97%;
  }
}
