.userInfoSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.userInfoWrap {
  width: 1200px;
  height: 300px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  margin-top: 20px;
}

.userInfoMenuWrap {
  margin-top: 20px;
  width: 1200px;
}

.userInfoMenu {
  display: flex;
  height: 40px;
}

.menuButton1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgb(250, 250, 250);
  border-top: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(238, 238, 238);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menuButton1 span {
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgb(250, 250, 250);
  border-top: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menuButton span {
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.wishListLength p {
  color: black;
  margin: 0 0 0 10px;
}

.userInfoExplanation {
  margin-top: 30px;
}

.active {
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
  border-left: 1px solid black;
}

.active span {
  color: black;
}
