.userInfoSection,
.userProfileSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

/* 유저 프로필 */

.userInfoWrap {
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  margin-top: 30px;
}

/* userProfile */
.userProfileWrap {
  display: flex;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
}

.chatButton {
  border-radius: 4px;
  background-color: #fe4e62;
}

.updateNameInput {
  width: 60%;
}

/* userDetailProfile */
.userDetailProfile {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  padding: 0 20px;
}

.userNameWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 15%;
  border-bottom: solid 1px rgb(200, 200, 200);
}

.nonBorderUserNameWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userNameInput input {
  padding: 6px 0 6px 12px;
}

.userNameButton {
  margin-left: 5px;
  border-radius: 4px;
}

.userNameModifyButton {
  margin-left: 5px;
  border-radius: 4px;
}

.userStateWrap {
  display: flex;
  height: 15%;
  align-items: center;
  border-bottom: solid 1px rgb(200, 200, 200);
}

.userIntroWrap {
  padding: 5px 0px;
  align-items: center;
}

.updateIntroInput {
  height: 90px;
}

.userIntroButton,
.userIntroModifyButton {
  border-radius: 4px;
}

.userIntroUpdateWrap {
  display: flex;
  height: 15%;
  align-items: center;
}

.testImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.userInfoMenuWrap {
  margin-top: 20px;
  width: 1200px;
}

.userInfoMenu {
  display: flex;
  height: 40px;
}

.menuButton1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgb(250, 250, 250);
  border-top: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(238, 238, 238);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menuButton1 span {
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgb(250, 250, 250);
  border-top: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menuButton span {
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.wishListLength p {
  color: black;
  margin: 0 0 0 10px;
}

.userInfoExplanation {
  margin-bottom: 50px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.active {
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
  border-left: 1px solid black;
}

.active span {
  color: black;
}

@media (max-width: 1200px) {
  /* UserInfo.js */
  .userInfoSection {
    width: 900px;
  }

  .userInfoMenuWrap {
    width: 900px;
  }

  .userInfoExplanation {
    width: 900px;
  }
}

@media (max-width: 900px) {
  /* UserInfo.js */
  .userInfoSection {
    width: 720px;
  }

  .userInfoMenuWrap {
    width: 720px;
  }

  .userInfoExplanation {
    width: 720px;
  }
}

@media (max-width: 600px) {
  /* UserInfo.js */
  .userInfoSection {
    width: 95%;
  }

  .userInfoMenuWrap {
    width: 95%;
    height: auto;
  }

  .userInfoWrap {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .userDetailProfile {
    align-items: center;
    height: auto;
    width: 90%;
  }

  .userProfileWrap {
    background-color: white;
    width: 100%;
    margin: 10px 0;
  }

  .userNameWrap {
    padding: 10px 0;
    border-top: 1px solid rgb(200, 200, 200);
  }

  .userStateWrap {
    width: 100%;
    padding: 10px 0;
  }

  .userIntroBox {
    width: 100%;
  }

  .userIntroWrap {
    padding: 10px 0;
  }

  .userNameModifyButton {
    padding: 7px;
    margin-left: 30px;
  }

  .userIntroModifyButton {
    padding: 7px;
    font-size: 13px;
  }

  .userInfoExplanation {
    width: 100%;
  }
}
