.UserInfoSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.UserInfoWrap {
  width: 1200px;
  height: 300px;
  border: 1px solid blue;
  margin-top: 20px;
}

.UserInfoMenuWrap {
  margin-top: 20px;
  width: 1200px;
}

.UserInfoMenu {
  display: flex;
  height: 30px;
}

.MenuButton {
  width: 100%;
}

.active {
  color: #1ecfba;
  border-bottom: 5px solid #1ecfba;
}

.MenuButton span {
  font-size: 14px;
  color: black;
}

.UserInfoExplanation {
  margin-top: 30px;
}
