.notWishList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 100px auto;
}

.notWishList p {
  line-height: 18px;
  color: rgb(136, 136, 136);
  margin: 0;
}

/* WishItem.js */
.wishList {
  position: relative;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 590px;
}

.wishList:nth-child(1),
.wishList:nth-child(2) {
  margin-top: 30px;
}

.wishListProduct {
  display: flex;
  align-items: center;
  color: black;
}

.wishListProductImage {
  position: relative;
  width: 140px;
  height: 140px;
  margin-left: 5px;
}

.wishListProductImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.wishListProductInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 380px;
  margin-left: 20px;
}

.productName {
  margin: 15px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 1rem;
}

.productPrice {
  margin-top: 20px;
}

.wishListProductPurchase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalPrice {
  font-size: 18px;
  line-height: 23px;
}

.btnSubmit {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.purchaseButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

.productCategory {
  margin: 0;
  font-size: 12px;
  color: #767676;
}

.wishListProductRemove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.productStatus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.productStatus h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 44%;
}

@media screen and (max-width: 1200px) {
  .wishList {
    width: 440px;
  }

  .wishListProductInfo {
    width: 220px;
  }
}

@media screen and (max-width: 900px) {
  .wishList {
    width: 350px;
    height: 135px;
  }

  .wishListProductInfo {
    width: 150px;
  }

  .wishListProductImage {
    width: 125px;
    height: 125px;
  }

  .productName {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .wishList,
  .wishList:nth-child(1),
  .wishList:nth-child(2) {
    margin-top: 15px;
    width: 100%;
  }

  .wishListProduct {
    width: 100%;
  }

  .wishListProductInfo {
    margin-left: 10px;
  }

  .productName {
    border: none;
  }
}
