* {
  font-family: "NanumSquareNeo-Variable";
}

/* Chat.js */
.ChatWrap {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}

/* Sidebar.js */
.sidebarWrap {
  flex: 1;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}

.chatRoomListWrap {
  overflow-y: scroll;
}

.chatRoomWrap {
  flex: 2;
}

/* Search */
.searchWrap {
  border-bottom: 1px solid lightgray;
}

.searchForm {
  position: relative;
  padding: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  height: 25px;
}

.clearSearchRoomName {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Chats.js */
.noneChatRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.noneChatRoomImg {
  display: flex;
  font-size: 90px;
  color: #1ecfba;
  margin-bottom: 10px;
}

.noneChatRoomText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noneChatRoomText p {
  margin: 0;
  font-size: 20px;
}

.noneChatRoomText p:last-child {
  margin-top: 10px;
  color: rgb(136, 136, 136);
  font-size: 15px;
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #1ecfba;
  }
}

.userChatInfoTop {
  display: flex;
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userChatInfo span {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.userChatInfo p {
  font-size: 14px;
  color: lightgray;
  margin: 5px 0 0 0;
}

.unreadCountText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unreadCountText p {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  width: 14px;
  border-radius: 50%;
  background: red;
  margin-top: 0;
  margin-left: 10px;
}

/* ChatRoom.js */
.chatInfo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.chatInfo span {
  font-size: 17px;
}

.chatIcons {
  display: flex;
  gap: 10px;
}

.icon {
  height: 24px;
  width: 100%;
  cursor: pointer;
}

.goBackChatList {
  display: none;
}

.sellerNameBtn {
  color: black;
}

/* Messages.js */
.messagesWrap {
  overflow-y: auto;
  padding: 10px;
  height: calc(100% - 160px);
}

/* test용 알아서 수정해도 됨, 메시지 양쪽 렌더링 (이규민)*/
.time {
  font-size: 10px;
}
.positionForOther {
  display: flex;
  align-items: end;
  text-align: left;
  margin-bottom: 10px;
}

.positionForOther .time {
  margin-left: 10px;
  color: rgb(136, 136, 136);
}

.positionForOther .text {
  margin-top: 5px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  box-shadow: 1px 1px rgb(220, 220, 220);
}

.positionForMe {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: end;
  margin-bottom: 10px;
}

.positionForMe .time {
  margin-right: 10px;
  color: rgb(136, 136, 136);
}

.positionForMe .text {
  margin-top: 5px;
  border: 1px solid rgb(238, 238, 238);
  background: rgb(238, 238, 238);
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  box-shadow: 1px 1px rgb(220, 220, 220);
}

.name {
  font-size: 17px;
  color: rgb(136, 136, 136);
}

/* Input.js */
.inputWrap {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;

  &::placeholder {
    color: lightgray;
  }
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputIcon {
  height: 24px;
  cursor: pointer;
  color: lightgray;
  font-size: 20px;
}

.inputIcon2 {
  height: 24px;
  cursor: pointer;
  color: lightgray;
  font-size: 20px;
  padding-top: 5px;
}

button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #1ecfba;
  cursor: pointer;
}

/* 스낵바 */
.outButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

@media screen and (max-width: 900px) {
  /* chat.js */

  .container {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }

  .chatRoomWrap {
    min-height: 100%;
  }

  .chatInfo {
    padding: 5px 10px;
  }

  .goBackChatList {
    display: block;
    font-size: 1.4rem;
    color: black;
    position: relative;
    top: 2px;
  }
}

@media screen and (max-width: 600px) {
  /* chat.js */
  .ChatWrap {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    box-shadow: none;
    flex-direction: column;
  }
}
