/*전체 틀*/
.form {
  display: flex;
  flex-direction: column;
  margin: 70px 18%;
  padding: 0;
}

/*상품등록하기 제목*/
.title {
  font-size: 26px;
  border-bottom: 3px solid black;
  padding: 24px 0;
}

/*사진등록 및 설명 라벨*/
.label {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(185, 185, 185);
  width: 100%;
  padding: 32px 0;
}

/*제목 및 가격 라벨*/
.label2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(185, 185, 185);
  width: 100%;
  padding: 32px 0;
}

/*각 라벨들 제목 (사진등록, 제목, 가격, 설명)*/
.labelTitle {
  font-size: 18px;
  width: 16%;
  display: flex;
  align-items: top;
}

/*이미지등록박스*/
.imgBox {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  margin: 0px;
  padding: 0px;
}

.imgWrap {
  width: 202px;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*이미지 인풋*/
.imgUpload[type="file"] {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(195, 194, 204);
  cursor: pointer;
  font-size: 0px;
  opacity: 0;
}

/*이미지 등록 부가 설명*/
.imgExplain {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  font-weight: bold;
  color: #8fbc94;
}

.imgExplain li {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*제목 input*/
.inputTitle {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 60%;
  margin-right: 10px;
}

/*가격 input*/
.inputPrice {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 12.5%;
  margin-right: 10px;
}

/* 카테고리 박스 */
.category {
  width: 70%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.checkList1, .checkList2 {
  display: flex;
  justify-content: space-between;
}

.checkList1 div, .checkList2 div {
  width: 150px;
  padding: 0.3rem;
}

/*설명 input*/
.inputTextarea {
  height: 150px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 83%;
}

/*등록 버튼이 들어있는 리스트*/
.buttonWrap {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*등록버튼*/
.addButton {
  width: 160px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #72ce01;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
