.container {
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: 70px;
}

.content1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
}

.title h1 span {
  color: #75d700;
}

.title p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #8d8c8b;
}

.title p span {
  color: #75d700;
}

.content2 {
  width: 60%;
}

.content2 img {
  width: 100%;
  height: 100%;
}

.latesProductWrap {
  display: flex;
  justify-content: center;
}

.latestProduct {
  margin-top: 30px;
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid rgb(207, 210, 215);
}

.latestProduct h1 {
  margin: 0;
  color: rgb(102, 102, 102);
  font-size: 1.5rem;
}

.latestProdList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.latestProdCard {
  width: 240px;
  height: 300px;
  background-color: rgba(173, 173, 173, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
}

.latestProdCard * {
  margin: 0;
  padding: 0;
}

.latestProdCard div {
  width: 100%;
  background-color: black;
  height: 240px;
}
