.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWrap {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

/* 첫번째 섹션 */
.mainContent {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainTitle {
  width: 40%;
}

.typingTop {
  font-size: 5em;
  font-weight: 500;
  line-height: 1.3;
  width: 9.6ch;
  animation: typing 0.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

.typingTop span {
  font-size: 4rem;
  color: #75d700;
}

.typingMiddle {
  font-size: 5em;
  font-weight: 500;
  line-height: 1.3;
  width: 16ch;
  animation: typing 0.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

.typingMiddle span {
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typingBottom span {
  font-size: 1.5rem;
  line-height: 3rem;
}

.mainImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImgWrap {
  width: 100%;
}

/* 두번째 섹션 */
.ImgslideWrap {
  width: 1200px;
  border: 1px solid blue;
  border-radius: 12px;
}

/* 세반쩨 섹샨 */
.latesProductWrap {
  display: flex;
  justify-content: center;
}

.latestProductContainer {
  margin-top: 30px;
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.latestProduct h1 {
  margin: 0;
  color: #0a0400;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.latestProdList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.latestProdCard {
  width: 220px;
  height: 280px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latestProdCard * {
  margin: 0;
  padding: 0;
}

.imgBox {
  width: 100%;
  background-color: black;
  height: 194px;
  border-radius: 13px;
}
