.productDetailWrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 1200px;
  margin: 10px auto 0;
}

/* 상품 상세정보 */
.productDetail {
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
}

.productImgWrap {
  width: 55%;
  border-radius: 13px;
}

.producContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.category {
  color: #8685858e;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
}

.price::after {
  content: "PDT";
  margin-left: 3px;
}

.time {
  color: #8685858e;
}

/* 버튼 */
.buttonWrap {
  display: flex;
  flex-direction: column;
}

.putMessageButton {
  display: flex;
}

/* 찜하기 버튼 */
.productPutWrap {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  flex-direction: column;
  width: 100%;
}

.previousProductPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: rgb(201, 196, 196);
  color: #fff;
  border-radius: 4px;
}

.productPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: #333333;
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
}

.productPut span {
  margin-left: 5px;
}

/* 톡하기 버튼*/
.productMessageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}

.productMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: #fe4e62;
  color: #fff;
}

.productMessage span {
  margin-left: 5px;
}

/* 구매하기 버튼*/
.productPurchaseWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 10px;
  background: #1ecfba;
  color: #fff;
}

.buttonText {
  margin-left: 5px;
}

.purchaseButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

/* 상품정보 및 판매자정보 */
.informationWrap {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: 2px solid rgb(157, 157, 157);
}

/* 상품 정보 */
.prodInformation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.productInfo {
  width: 840px;
}

.productInfoHeader,
.productStoreHeader {
  font-size: 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 12px;
}

.ProdinfoExplanation {
  margin-top: 20px;
  color: rgb(136, 136, 136);
  font-size: 16px;
}
/* 판매자 정보 */
.productSellor {
  width: 300px;
  border-left: 1px solid rgb(200, 200, 200);
  padding-left: 30px;
}

.testImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.prodSellorExplanation {
  display: flex;
  margin-top: 30px;
  color: rgb(136, 136, 136);
  height: 450px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.sellerName {
  align-items: center;
  font-size: 30px;
}

.userInfoLink {
  text-decoration: none;
  color: black;
}

/* 연관상품 */

.relatedProductHeader {
  font-size: 20px;
  margin-bottom: 30px;
  padding-top: 25px;
  display: block;
  border-top: 2px solid rgb(157, 157, 157);
}

@media screen and (max-width: 1200px) {
  .productDetailWrap {
    width: 900px;
  }

  .productDetail {
    height: auto;
  }

  .producContentWrap {
    height: 428px;
  }

  .productDetailImgWrap {
    width: 428px;
    aspect-ratio: 1 / 1;
  }

  .category {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

  .price {
    font-size: 36px;
  }

  .time {
    font-size: 14px;
  }

  .buttonText {
    font-weight: 300;
  }

  .wishCount {
    font-weight: 300;
  }

  .prodInformation {
    padding: 20px 0;
    border-top: 1px solid rgb(200, 200, 200);
  }
}
