.productDetailWrap {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 40px auto 0 auto;
}

/* 상품 상세정보 */
.productDetail {
  display: flex;
  width: 100%;
  padding: 30px 0;
  border-top: 2px solid rgb(157, 157, 157);
}

.productImgWrap {
  width: 430px;
  border-radius: 13px;
  height: 430px;
}

.producContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  padding-left: 70px;
}

.category {
  margin-bottom: 10px;
}

.category a {
  color: #8685858e;
  margin-bottom: 10px;
  font-size: 0.9;
}

.title {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.price::after {
  content: "PDT";
  margin-left: 3px;
}

.time {
  color: #8685858e;
  font-size: 0.9rem;
}

/* 버튼 */
.buttonWrap {
  display: flex;
  flex-direction: column;
}

.putMessageButton {
  display: flex;
}

/* 찜하기 버튼 */
.productPutWrap {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  flex-direction: column;
  width: 100%;
}

.previousProductPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: rgb(201, 196, 196);
  color: #fff;
  border-radius: 4px;
}

.productPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: #666666;
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
}

.productPut span {
  margin-left: 5px;
}

/* 톡하기 버튼*/
.productMessageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}

.productMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: #fe4e62;
  color: #fff;
}

.productMessage span {
  margin-left: 5px;
}

/* 구매하기 버튼*/
.productPurchaseWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 10px;
  background: #1ecfba;
  color: #fff;
}
.productReserved {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 10px;
  background: #333333;
  color: #fff;
  cursor: no-drop;
}
.productSold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 10px;
  background: #333333;
  color: #fff;
  cursor: no-drop;
}

.buttonText {
  margin-left: 5px;
}

.purchaseButton {
  border-radius: 4px;
  margin-right: 10px;
}

.backButton {
  border-radius: 4px;
  background: #fe4e62;
}

/* 상품정보 및 판매자정보 */
.informationWrap {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: 2px solid rgb(157, 157, 157);
  height: 300px;
}

/* 상품 정보 */
.prodInformation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.productInfo {
  width: 840px;
}

.productInfoHeader,
.productStoreHeader {
  font-size: 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 12px;
}

.ProdinfoExplanation {
  margin-top: 20px;
  color: rgb(136, 136, 136);
  font-size: 16px;
}

.prodInfoWrap {
  height: 250px;
}

/* 판매자 정보 */
.productSellor {
  width: 300px;
  border-left: 1px solid rgb(200, 200, 200);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.testImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.prodSellorExplanation {
  display: flex;
  margin: auto 0;
  color: rgb(136, 136, 136);
  height: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.ProductSellorWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfoLink {
  text-decoration: none;
  color: black;
  align-items: center;
  font-size: 1.5rem;
}

/* 연관상품 */

.relatedProductHeader {
  font-size: 20px;
  margin-bottom: 30px;
  padding-top: 25px;
  display: block;
  border-top: 2px solid rgb(157, 157, 157);
}

/* 반응형 1200 */
@media screen and (max-width: 1200px) {
  .productDetailWrap {
    width: 900px;
  }

  .producContentWrap {
    height: 380px;
    width: 480px;
  }

  .productImgWrap {
    height: 380px;
    width: 380px;
  }

  .informationWrap {
    height: 380px;
  }

  .productInfo {
    width: 615px;
  }

  .productSellor {
    width: 225px;
  }
}

@media screen and (max-width: 900px) {
  .productDetailWrap {
    width: 720px;
  }

  .producContentWrap {
    height: 300px;
    width: 370px;
  }

  .productImgWrap {
    height: 300px;
    width: 300px;
  }

  .title {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1.7rem;
  }

  .informationWrap {
    height: 380px;
  }

  .productInfo {
    width: 480px;
  }

  .productSellor {
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .productDetailWrap {
    margin: 0;
    width: 100%;
  }

  .productDetail {
    flex-direction: column;
    padding: 0;
    border: none;
  }

  .productImgWrap {
    width: 100%;
    height: 100%;
  }

  .producContentWrap {
    margin: 10px auto;
    width: 95%;
    height: auto;
    padding-left: 0;
  }

  .buttonWrap {
    margin-top: 15px;
  }

  .category {
    font-size: 15px;
  }

  .time,
  .category {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .price {
    font-size: 1.4rem;
  }

  .informationWrap {
    width: 95%;
    height: auto;
    border-top: 1px solid rgb(200, 200, 200);
    margin: 0 auto;
    padding: 12px 0;
  }

  .prodInformation {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .productInfo {
    width: 100%;
    min-height: 250px;
    aspect-ratio: 1 / 0.8;
  }

  .ProdinfoExplanation {
    margin-top: 10px;
  }

  .productInfoHeader,
  .productStoreHeader,
  .relatedProductHeader {
    font-size: 18px;
  }

  .productStoreHeader {
    padding: 10px 0;
    border-top: 1px solid rgb(200, 200, 200);
  }

  .productSellor {
    width: 100%;
    padding: 0;
    border: none;
  }

  .prodSellorExplanation {
    margin-top: 12px;
  }

  /* ProductSellor.js */
  .ProductSellorWrap {
    flex-direction: row;
  }

  .testImg {
    width: 75px;
    height: 75px;
  }

  .sellerName {
    margin-left: 20px;
  }

  .userInfoLink {
    font-size: 1.2rem;
  }

  /* 연관상품 */
  .relatedProductHeader {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
  }
}
