/*상품 카드*/
.prodCard {
  border-radius: 5px;
  display: block;
  min-width: 127.55px;
  min-height: auto;
}

/*상품 이미지*/

.prodImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.prodInfo {
  padding: 11px 10px;
}

.prodName {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(136, 136, 136);
  font-size: 18px;
}

.prodPrice {
  font-size: 16px;
  font-weight: 300;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

.prodPrice::after {
  content: "PDT";
  font-size: 16px;
  margin-left: 3px;
}

@media screen and (max-width: 600px) {
  .prodName {
    font-size: 0.9rem;
  }

  .prodPrice {
    font-size: 1rem;
  }

  .prodPrice::after {
    content: "PDT";
    font-size: 0.9rem;
    margin-left: 3px;
  }
}
