.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288.75px;
}

.swiper-slide div {
  width: 100%;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 50%;
  color: black !important;
  width: 30px;
  height: 10px;
  z-index: 999999;
  left: -10;
  pointer-events: auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.swiper-button-disabled {
  pointer-events: auto !important;
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 95%;
    margin: 0 auto 12px;
  }

  .swiper-slide {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.43;
  }
}
