/* 첫번째 섹션 */
.mainWrap {
  background: url(../../assets/onboard/bannerMainImg.png);
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 0.4;
  background-size: cover;
}

.mainImgWrap {
  width: 300px;
}

.mainContent {
  width: 800px;
  height: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.mainImg {
  width: 655px;
  height: 580px;
}

.mainTitle {
  width: 100%;
}

.typingTop {
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
  line-height: 1.3;
}
.typingMiddle {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(123, 123, 123);
}

.typingBottom2 {
  display: none;
}

/* 로그인 타이핑 */
.typingBottom {
  margin-top: 23px;
  width: 100%;
}

.typingBottom button {
  color: rgb(255, 255, 255);
  border: 1px solid #18c3b7;
  background-color: #18c3b7;
  border-radius: 6px;
  width: 250px;
  font-size: 25px;
  line-height: 3rem;
  font-weight: 700;
}
.typingBottom button:hover {
  background-color: #16b7ac;
}

/* 두번째 섹션 */
.secondContent {
  width: 1024px;
  margin: 0 auto;
  margin-top: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secondTitle {
  width: 434px;
}

.secondImage {
  background-size: 655px 750px;
  width: 700px;
  margin-right: 20px;
  /* height: 750px; */
}

.secondImg {
  background-size: 655px 750px;
  width: 650px;
  height: 750px;
}

.secondTypingMiddle {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 10px;
  /* text-align: center; */
}
.secondTypingBottom {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(123, 123, 123);
}

/* 세반쩨 섹션 */
.thirdContent {
  width: 1024px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thirdTitle {
  width: 100%;
}
.thirdTypingMiddle {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.thirdTypingBottom {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(123, 123, 123);
}

.thirdImage {
  background-size: 655px 750px;
  width: 650px;
  height: 700px;
}

.thirdImg {
  background-size: 655px 750px;
  width: 700px;
  height: 700px;
}

/* 네반쩨 섹션 */
.forthWrap {
  background-color: #f9f9f9;
}

.forthContent {
  width: 1024px;
  margin: 0 auto;
  align-items: center;
}

.forthTypingMiddle {
  padding-top: 100px;
  font-size: 40px;
  text-align: center;
  line-height: 1.3;
}

.forthImage {
  background-size: 655px 750px;
  width: 655px;
  height: 750px;
}

.mainSlide {
  position: relative;
}

.firstSlide {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 첫번째 슬라이드 */

.slideImg1 {
  width: 100%;
}

.eee a {
  height: 70px !important;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .mainWrap {
    background-position: center;
  }

  .mainContent {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  /* 첫 번째 섹션 */
  .mainWrap {
    background: #f9f9f9;
    height: auto;
    aspect-ratio: auto;
  }

  .mainContent {
    height: auto;
    margin: 20px 0 0 0;
    width: 100%;
  }

  .typingTop {
    margin: 0;
    font-size: 2rem;
  }

  .typingMiddle {
    font-size: 1.3rem;
    width: 95%;
    margin: 0 auto;
  }

  .mainContent .typingBottom button {
    display: none;
  }

  .mainImgWrap {
    background: url(../../assets/onboard/bannerMainImg.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0px;
  }

  .typingBottom2 {
    display: block;
  }

  .typingBottom2 button {
    color: rgb(255, 255, 255);
    border: 1px solid #18c3b7;
    background-color: #18c3b7;
    border-radius: 6px;
    width: 160px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 5px;
    line-height: 3rem;
    font-weight: 700;
  }

  /* 두 번째 섹션 */
  .secondContent {
    margin: 20px 0;
    width: 100%;
    flex-direction: column;
  }

  .secondImage {
    width: 100%;
    height: 115%;
    margin: 0;
  }

  .secondImg {
    width: 100%;
    height: 100%;
  }

  .secondTitle {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secondTypingMiddle {
    width: 100%;
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
  }

  .secondTypingBottom {
    width: 100%;
    text-align: center;
  }

  .secondTypingBottom p {
    margin: 0;
  }

  .typingBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .typingBottom button {
    border: none;
    width: 160px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 5px;
  }

  /* 네 번째 섹션 */
  .forthWrap {
    width: 100%;
    padding: 20px 0;
  }

  .forthContent {
    width: 100%;
  }

  .forthTypingMiddle {
    padding: 0;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .secondImage {
    margin: 40px 0 20px;
  }

  /* 세 번째 섹션 */
  .thirdContent {
    margin: 20px 0 0 0;
    flex-direction: column;
    width: 100%;
  }

  .thirdTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .thirdTypingMiddle {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    margin: 5px 0;
  }

  .thirdTypingBottom {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .thirdImage {
    width: 100%;
    height: 100%;
  }

  .thirdImg {
    width: 100%;
    height: 100%;
  }
}
