.prodCardWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*상품 카드*/
.prodCard {
  border: 1px solid blue;
  width: 200px;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.prodCard:nth-child(5n) {
  margin-right: 0px;
}

/*상품 이미지*/
.prodImg {
  width: 100%;
}

/*상품 정보*/
.prodInfo {
  padding: 15px 10px;
}
