.productDetailWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 1200px;
  margin: 10px auto 0;
}

/* 상품 상세정보 */
.productDetail {
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 50px;
}

.productImgWrap {
  width: 55%;
  border-radius: 13px;
}

.producContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.category {
  color: #8685858e;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
}

.price::after {
  content: "PDT";
  margin-left: 3px;
}

.time {
  color: #8685858e;
}

/* 버튼 */
.buttonWrap {
  display: flex;
  flex-direction: column;
}

.putMessageButton {
  display: flex;
}

/* 찜하기 버튼 */
.productPutWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: rgb(201, 196, 196);
  color: #fff;
  border-radius: 4px;
  margin-right: 2px;
}

.productPut span {
  margin-left: 5px;
}

/* 톡하기 버튼*/
.productMessageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  background: #fe4e62;
  color: #fff;
}

.productMessage span {
  margin-left: 5px;
}

/* 구매하기 버튼*/
.productPurchaseWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 10px;
  background: #1ecfba;
  color: #fff;
}

.buttonText {
  margin-left: 5px;
}

/* 상품정보 및 상점정보 */
.informationWrap {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.prodInformation {
  display: flex;
  width: 100%;
}

.productInfo {
  width: 60%;
  border: 1px solid red;
}

.productStore {
  width: 40%;
  border: 1px solid blue;
}

/* .prodInfoButton {
  display: flex;
  width: 1200px;
} */

/* .infoButton,
.storeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: white;
  border-top: 1px solid black;
  border-bottom: none;
  border-left: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
} */

/* .active {
} */

.ProdinfoExplanation {
  margin-top: 30px;
  color: rgb(136, 136, 136);
  border: 1px solid green;
  height: 450px;
  font-size: 14px;
}

.ProdStoreExplanation {
  margin-top: 30px;
  color: rgb(136, 136, 136);
  border: 1px solid green;
  height: 450px;
}

/* 연관상품 */
.relationproductWrap {
  width: 1200px;
  height: 500px;
  border: 1px solid blue;
}
