.mainBox {
  margin-top: 70px;
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryBox {
  background-color: #fff;
  margin-top: 30px;
  width: 880px;
  height: 120px;
  border: 1px solid rgb(207, 210, 215);
  padding: 0.5rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.categoryBox div {
  border-bottom: 1px solid rgb(207, 210, 215);
  padding-bottom: 10px;
  cursor: pointer;
  color: black;
}

.categoryBox ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.categoryBox ul li {
  width: 120px;
  cursor: pointer;
  color: black;
}

.productWrap {
  width: 1200px;
  margin-top: 30px;
  border-top: 1px solid rgb(207, 210, 215);
}

.detail {
  text-decoration: none;
}
