.mainBox {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryBar {
  margin-right: 10px;
  /* position: fixed;
  left: 19rem;
  top: 12rem;
  transform: translate(1em, 12rem); */
  z-index: 10;
  background: #fff;
  width: 100px;
}

.categoryBox ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categoryBox ul li {
  cursor: pointer;
  color: black;
}

.productWrap {
  display: flex;
  width: 1480px;
  margin-top: 30px;
}

.detail {
  text-decoration: none;
}

.prdouctCardWrap {
  margin-left: 90px;
}
