.latestProductSection h1 {
  font-size: 30px;
  margin: 0;
}

.latestProductWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.latestProductContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-grow: 1;
}

/*상품 카드*/
.latestProduct {
  border-radius: 10px;
  width: 277.5px;
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.latestProduct:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  transition: box-shadow 0.3s, transform 0.5s;
}

.latestProduct:nth-child(4n) {
  margin-right: 0px;
}

a {
  text-decoration: none;
}

/*상품 이미지*/
.imgBox {
  width: 277.5px;
  height: 276px;
  position: relative;
}

.prodImg {
  width: 277.5px;
  height: 100%;
  border-radius: 10px;
}

/*상품 정보*/
.reserved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.reserved h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 44%;
}

.prodInfo {
  padding: 11px 10px;
}

.prodName {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(136, 136, 136);
  font-size: 18px;
}

.prodPrice {
  font-size: 16px;
  font-weight: 700;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

.prodPrice::after {
  content: "PDT";
  font-size: 16px;
  margin-left: 3px;
}

/* .prodStatus {
  color: #1ecfba;
} */

.moreButtonWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  /* box-shadow: 2px 2px rgb(220, 220, 220); */
}

@media (max-width: 1260px) {
  .latestProduct {
    width: 216px;
  }

  .imgBox {
    width: 216px;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .prodImg {
    width: 216px;
  }

  .reserved {
    width: 216px;
    height: 216px;
  }
}

@media (max-width: 980px) {
  .latestProduct {
    width: 155px;
  }

  .imgBox {
    width: 155px;
  }

  .prodImg {
    width: 155px;
  }

  .reserved {
    width: 155px;
    height: 155px;
  }
}

@media (max-width: 500px) {
  .latestProductSection h1 {
    font-size: 22px;
    margin-left: 10px;
  }

  .latestProductContainer {
    justify-content: space-evenly;
  }

  .latestProduct {
    margin: 0;
    width: 45%;
  }

  .latestProduct:nth-child(4n) {
    margin: 0;
  }

  .imgBox {
    width: 100%;
  }

  .prodImg {
    width: 100%;
  }

  .reserved {
    width: 100%;
    height: 100%;
  }
}
