.latestProductSection h1 {
  text-size-adjust: auto;
  margin: 0;
}

.latestProductWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.latestProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

/*상품 카드*/
.latestProduct {
  border-radius: 13px;
  width: 24%;
  aspect-ratio: 1 / 1.2;
  display: block;
  margin: 10px;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.083);
}

.latestProduct:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  transition: box-shadow 0.3s, transform 0.5s;
  border: none;
}

.latestProduct:nth-child(4n) {
  margin-right: 0px;
}

a {
  text-decoration: none;
}

/*상품 이미지*/
.imgBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.prodImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

/*상품 정보*/
.reserved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.reserved h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 44%;
  font-size: 1.2rem;
}

.prodInfo {
  padding: 11px 10px;
}

.prodName {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  font-size: 1rem;
}

.prodPrice {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

.prodPrice::after {
  content: "PDT";
  font-size: 16px;
  margin-left: 3px;
}

/* .prodStatus {
  color: #1ecfba;
} */

.moreButtonWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe1e5;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

@media (max-width: 1250px) {
  .reserved h2 {
    font-size: 1rem;
  }
}
