.Authwrap {
  list-style: none;
}

.loginRegister {
  display: flex;
  text-decoration: none;
  color: black;
}

.login {
  cursor: pointer;
}

.register {
  cursor: pointer;
}

.logout {
  cursor: pointer;
}
