* {
  font-family: "NanumSquareNeo-Variable";
}

.NoticeWrap {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
  padding: 10px;
}
