.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userSection {
  color: black;
  display: flex;
  list-style: none;
}

.userSection li {
  padding: 10px;
}

.iconText {
  margin-right: 8px;
}
