.loginRegister {
  display: flex;
  text-decoration: none;
  color: black;
}

.login {
  cursor: pointer;
  color: black;
}

.register {
  cursor: pointer;
  color: black;
}

.logout {
  cursor: pointer;
  color: black;
}
