.Slide {
  text-align: center;
}

.firstSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImg {
  width: 100%;
  aspect-ratio: 1 / 0.3;
  object-fit: contain;
  text-align: center;
}
