.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWrap {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

/* 첫번째 섹션 */
.mainContent {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainTitle {
  width: 40%;
}

.typingTop {
  font-size: 5em;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

.typingTop span {
  font-size: 3rem;
  color: #1ecfba;
  font-weight: 100;
}

.cursor {
  font-weight: normal;
}

.typingMiddle {
  font-size: 5em;
  font-weight: 500;
  line-height: 1.3;
  width: 13ch;
  animation: typing 0.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

.typingMiddle span {
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typingBottom span {
  font-size: 1.5rem;
  line-height: 3rem;
}

.mainImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg {
  margin-right: 40px;
}

/* 두번째 섹션 */
.ImgslideWrap {
  width: 1200px;
  border: 1px solid #1ecfba;
  border-radius: 12px;
}

/* 세반쩨 섹션 */
.latesProductWrap {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: 30px;
}
