.Slide {
  height: 400px;
  text-align: center;
}

.firstSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
}

.slideImg {
  width: 1000px;
  height: 300px;
  object-fit: contain;
  text-align: center;
}
