.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWrap {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

/* 첫번째 섹션 */
.mainContent {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainTitle {
  width: 40%;
}

.mainImgWrap {
  width: 60%;
}

.mainImg {
  width: 720px;
}

.typingTop {
  font-size: 5em;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

.typingTop span {
  font-size: 3rem;
  color: #1ecfba;
  font-weight: 100;
}

.cursor {
  font-weight: normal;
}

.bannerImg {
  width: 100%;
  margin-top: 30px;
}

.typingMiddle {
  font-size: 5em;
  font-weight: 500;
  line-height: 1.3;
  width: 13ch;
  animation: typing 0.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

.typingMiddle span {
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typingBottom span {
  font-size: 1.3rem;
  line-height: 3rem;
  color: rgb(123, 123, 123);
}

.introButton {
  margin-top: 50px;
}

.introButton button {
  width: 200px;
  height: 60px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 700;
}

.introButton button:hover {
  background-color: #16b7ac;
}

.mainImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg1 {
  position: relative;
  right: 30%;
}

/* 두번째 섹션 */
.imgslideWrap {
  width: 1200px;
  border-radius: 12px;
  margin-top: 30px;
}

/* 세반째 섹션 */
.latesProductWrap {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: 40px;
}

/* 반응형 1200 */
@media (max-width: 1200px) {
  .mainWrap {
    height: auto;
  }

  .container {
    margin-top: 50px;
  }

  /* 첫 번째 섹션 */
  .mainContent {
    flex-direction: column;
    justify-content: space-around;
  }

  .mainImgWrap {
    overflow: visible;
  }

  .mainImg {
    width: 560px;
  }

  /* 두 번째 섹션 */
  .imgslideWrap {
    width: 900px;
    aspect-ratio: 3 / 1;
    margin-top: 50px;
  }

  /* 세 번째 섹션 */
  .latesProductWrap {
    width: 900px;
  }
}

/* 반응형 900 */
@media (max-width: 900px) {
  /* 두 번째 섹션 */
  .imgslideWrap {
    width: 720px;
  }

  /* 세 번째 섹션 */
  .latesProductWrap {
    width: 720px;
    margin-top: 50px;
  }
}

/* 반응형 600 */
@media (max-width: 600px) {
  .container {
    margin-top: 20px;
  }

  .mainWrap {
    align-items: flex-start;
    justify-content: center;
    height: 180px;
  }

  .mainTitle {
    width: 85%;
  }

  .mainImgWrap {
    display: none;
  }

  .typingTop span {
    font-size: 1.8rem;
  }

  .typingMiddle span {
    font-size: 2.3rem;
  }

  .typingBottom span {
    margin-top: 5px;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  .introButton {
    margin-top: 10px;
  }

  .introButton button {
    padding: 3px;
    width: 160px;
    height: 32px;
    font-size: 1rem;
  }

  .imgslideWrap {
    width: 100%;
    aspect-ratio: 3 / 1;
    margin: 10px 0;
    border-radius: 0;
  }

  .latesProductWrap {
    width: 95%;
    margin: 30px 0;
  }
}
