.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 첫번째 섹션 */
.mainWrap {
  width: 70%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTitle {
  width: 40%;
}

.typingTop {
  line-height: 1.3;
  white-space: nowrap;
  margin-bottom: 13px;
}

.typingTop span {
  font-size: 3rem;
  color: #1ecfba;
  font-weight: 100;
}

.cursor {
  font-weight: normal;
}

.typingMiddle {
  font-weight: 500;
  line-height: 1.3;
  animation: typing 0.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
}

.typingMiddle span {
  font-size: 4rem;
  text-size-adjust: auto;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typingBottom span {
  font-size: 1.5rem;
  line-height: 3rem;
}

.mainImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg {
  margin-right: 40px;
}

/* 두번째 섹션 */
.ImgslideWrap {
  width: 70%;
  aspect-ratio: 1 / 0.3;
  border: 1px solid #1ecfba;
  border-radius: 12px;
  margin-top: 150px;
}

/* 세반째 섹션 */
.latesProductWrap {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 30px auto;
}

/* 반응형 1250 */
@media (max-width: 1250px) {
  .container {
    margin-top: 100px;
    width: 100%;
  }

  /* 첫 번째 섹션 */
  .mainWrap {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .mainImg {
    width: 65%;
    aspect-ratio: 1 / 0.8;
  }

  .mainImg1 {
    width: 35%;
    aspect-ratio: 1 / 2.5;
  }

  /* 두 번째 섹션 */
  .ImgslideWrap {
    width: 80%;
    margin-top: 50px;
  }

  /* 세 번째 섹션 */
  .latesProductWrap {
    width: 80%;
  }
}
