.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 0;
  font-family: "GongGothicMedium";
}
