.productDetailWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* 상품 상세정보 */
.productDetail {
  display: flex;
  width: 1200px;
  height: 600px;
  margin-bottom: 50px;
}

.productImgWrap {
  width: 50%;
  padding-right: 30px;
}

.producContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.category {
  color: #8685858e;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
}

.time {
  color: #8685858e;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
}

.productPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: rgb(201, 196, 196);
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid rgb(201, 196, 196);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.productPut span {
  margin-left: 5px;
}

.productMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: orange;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.productMessage span {
  margin-left: 5px;
}

.productPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: blue;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border: 1px solid rgb(201, 196, 196);
  border-radius: 4px;
  cursor: pointer;
}

.productPurchase span {
  margin-left: 5px;
}

/* 상품정보 및 상점정보 */
.informationWrap {
  display: flex;
  width: 1200px;
  height: 500px;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
}

.prodInfoButton {
  display: flex;
  width: 1200px;
}

.infoButton,
.storeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.active {
  color: #1ecfba;
  border-bottom: 5px solid #1ecfba;
}

.ProdinfoExplanation {
  margin-top: 30px;
}

/* .storeInformation {
  width: 40%;
  border: 1px solid red;
}

.storeInfoHeader {
  font-size: 20px;
}

.store {
  border: 1px solid blue;
  margin: 50px 0px;
}

.StoreIcon {
  font-size: 50px;
  color: #8685858e;
}

.productInformation {
  width: 60%;
  border: 1px solid blue;
}

.productInfoHeader {
  font-size: 20px;
}

.productInfoDescription {
  border: 1px solid brown;
  margin: 50px 0px;
} */

/* 연관상품 */
.relationproductWrap {
  width: 1200px;
  height: 500px;
  border: 1px solid blue;
}
