.productDetailWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* 상품 상세정보 */
.productDetail {
  display: flex;
  width: 1200px;
  height: 600px;
  margin-bottom: 50px;
}

.productImgWrap {
  width: 50%;
  padding-right: 30px;
}

.producContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.category {
  color: #8685858e;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
}

.time {
  color: #8685858e;
}

/* 버튼 */
.buttonWrap {
  display: flex;
  flex-direction: column;
}

/* 찜하기 버튼 */
.productPutWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(201, 196, 196);
  padding-top: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.prodPutborder {
  border-bottom: 5px solid rgb(201, 196, 196);
  width: 100%;
  border-radius: 4px;
  margin-top: -2.8px;
}

.productPut span {
  margin-left: 5px;
}

.productPut:hover {
  background: rgb(201, 196, 196);
  color: #fff;
}

/* 톡하기 버튼*/
.productMessageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  color: #fe4e62;
  padding-top: 5px;
  margin-top: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.prodMessageborder {
  border-bottom: 5px solid #fe4e62;
  width: 100%;
  border-radius: 4px;
  margin-top: -2.8px;
}

.productMessage span {
  margin-left: 5px;
}

.productMessage:hover {
  background: #fe4e62;
  color: #fff;
}

/* 구매하기 버튼*/
.productPurchaseWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.productPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  color: #1ecfba;
  padding-top: 5px;
  margin-top: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.prodPurchaseborder {
  border-bottom: 5px solid #1ecfba;
  width: 100%;
  border-radius: 4px;
  margin-top: -2.8px;
}

.buttonText {
  margin-left: 5px;
}

.productPurchase:hover {
  background: #1ecfba;
  color: #fff;
}

/* 상품정보 및 상점정보 */
.informationWrap {
  display: flex;
  width: 1200px;
  height: 500px;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
}

.prodInfoButton {
  display: flex;
  width: 1200px;
}

.infoButton,
.storeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.active {
  color: #1ecfba;
  border-bottom: 5px solid #1ecfba;
}

.storeactive {
  color: #fe4e62;
  border-bottom: 5px solid #fe4e62;
}

.ProdinfoExplanation {
  margin-top: 30px;
}

/* .storeInformation {
  width: 40%;
  border: 1px solid red;
}

.storeInfoHeader {
  font-size: 20px;
}

.store {
  border: 1px solid blue;
  margin: 50px 0px;
}

.StoreIcon {
  font-size: 50px;
  color: #8685858e;
}

.productInformation {
  width: 60%;
  border: 1px solid blue;
}

.productInfoHeader {
  font-size: 20px;
}

.productInfoDescription {
  border: 1px solid brown;
  margin: 50px 0px;
} */

/* 연관상품 */
.relationproductWrap {
  width: 1200px;
  height: 500px;
  border: 1px solid blue;
}
