.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.headerTop {
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.headerBottom {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* logo*/
.logoWrap {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin: 0;
  font-size: 30px;
}

/* searchBox */
/* .searchBox {
  width: 600px;
  height: 35px;
  display: flex;
  border: 3px solid #618dff;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.search:focus {
  outline: none;
}

.search {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 15px;
  font-size: 15px;
  background-color: black;
}

.searchBox button {
  font-size: 20px;
  border: none;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  color: #fff;
}

.searchBox button :hover {
  cursor: pointer;
} */

/* 로그인/회원가입 */
.AuthList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
}

/*구매하기, 판매하기*/
.list {
  display: flex;
  margin: 0 50px;
  padding: 0;
  font-size: 17px;
}

.purchaseLink {
  text-decoration: none;
  color: black;
}

.list .purchaseList {
  list-style: none;
  margin: 0 30px;
}

.AddProductLink {
  text-decoration: none;
  color: black;
}

.list .AddProductList {
  list-style: none;
  margin: 0 30px;
}

/* dropdown */
.drobdown {
  position: relative;
  display: inline-block;
  display: flex;
}

.dropdownContent {
  display: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
}
