.prodCardWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prodCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*상품 카드*/
.prodCard {
  border-radius: 13px;
  width: 277.5px;
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.prodCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  transition: box-shadow 0.3s, transform 0.5s;
}

.prodCard:nth-child(4n) {
  margin-right: 0px;
}

a {
  text-decoration: none;
}

/*상품 이미지*/
.imgBox {
  width: 100%;
  height: 276px;
}

.prodImg {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

/*상품 정보*/
.prodInfo {
  padding: 11px 10px;
}

.prodName {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.prodPrice {
  font-size: 16px;
  font-weight: 700;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prodPrice::after {
  content: "원";
  font-size: 16px;
  margin-left: 3px;
}

.moreButtonWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe1e5;
  border: 1px solid gray;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
