.reservedWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserved {
  display: flex;
  justify-content: row;
}

.reservedImg {
  width: 150px;
  height: 150px;
  margin-right: 50px;
}

.reservedImg img {
  width: 150px;
  height: 150px;
}

.reservedDetail {
  display: flex;
  flex-direction: row;
}

.rservedTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.rservedPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.reservedButtonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe1e5;
  border: 1px solid gray;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
