/*전체 틀*/
.form {
  display: flex;
  flex-direction: column;
  margin: 30px 18%;
  padding: 0;
}

/*상품등록하기 제목*/
.title {
  font-size: 26px;
  border-bottom: 3px solid black;
  padding: 0 0 24px 0;
}

/*사진등록 및 설명 라벨*/
.label {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(185, 185, 185);
  width: 100%;
  padding: 32px 0;
}

/*제목 및 가격 라벨*/
.label2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(185, 185, 185);
  width: 100%;
  padding: 32px 0;
}

/*각 라벨들 제목 (사진등록, 제목, 가격, 설명)*/
.labelTitle {
  font-size: 18px;
  width: 16%;
  display: flex;
  align-items: top;
}

/*이미지등록박스*/
.imgWrap {
  display: flex;
  flex-wrap: wrap;
}

.imgBox {
  width: 202px;
  height: 202px;
  background: #fff;
  border: 1px solid rgb(207, 210, 215);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
  border-radius: 5px;
}

.imgContainer {
  list-style: none;
  height: 202px;
  border: 1px solid rgb(207, 210, 215);
  margin-right: 15px;
  border-radius: 5px;
}

.ImgDelete {
  border: none;
  position: absolute;
  font-size: 30px;
  background-color: rgba(30, 29, 41, 0.6);
  color: #fff;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.img {
  border-radius: 4px;
}

.imgContainer img {
  width: 202px;
  height: 202px;
}

.imgContainer:nth-child(5) {
  margin-top: 15px;
}

/*이미지 인풋*/
.imgUpload[type="file"] {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(195, 194, 204);
  cursor: pointer;
  font-size: 0px;
  opacity: 0;
}

/*이미지 등록 부가 설명*/
.imgExplain {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  font-weight: bold;
  color: #1ecfba;
}

.imgExplain li {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* 카테고리 박스 */
.category {
  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkList1 {
  display: flex;
}

.checkList2 {
  display: flex;
}

/* .category div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .category div label {
  padding: 0.4rem;
} */

/*등록 버튼이 들어있는 리스트*/
.buttonWrap {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* 인풋 및 텍스트박스 클릭시 테두리 색상*/
/* input:focus {
  border: 1px solid #1ecfba;
  outline: none;
} */

textarea:focus {
  border-color: #1ecfba;
  outline: none;
}

.button {
  background-color: #1ecfba !important;
}

.button:hover {
  background-color: #1ecfba !important;
}
